@import url('https://fonts.googleapis.com/css?family=Raleway');

/* General */
a,a:focus,a:hover{color:#fff;}
html,body{height:100%;background-color:#F4F4FC;}
body{color:#d63031;text-align:center;}
h6{color:black;}
.hide{display:none;}
.landing-heading{font-family:'Raleway', sans-serif;font-weight:400;}
.logo{padding:20px;}
h4{color:black;}
div{font-family: 'Raleway', sans-serif;}
.number{font-size:5rem;color:black; font-weight:800;text-align:left; margin-left:555px}

/* Buttons */
.btn{font-family: 'Raleway', sans-serif;padding:0.5625rem 2.5rem;font-size:0.8125rem;font-weight:400;line-height:1.75rem;border-radius:3px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn-lg{font-size:0.875rem;padding:0.35rem 2.5rem;line-height:1.75rem;margin:0.15rem;}
.btn-are{font-size:0.875rem;padding:0.35rem 2.25rem;margin:0.15rem;line-height:1.75rem;}
.btn:focus,.btn:active:focus,.btn.active:focus{outline:none;}
.btn-primary{background-color:#d63031;border:2px solid #b62020;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{color:#fff;border:2px solid #a12626; background-color:#a12626;}
.navbar{background-color:#a5a5a5a9 !important;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
#signin-button{padding:0.6875rem 3.4375rem;}

/* Avatar */
.avatar{width:100px;height:100px;}
.avatar-section{margin-bottom:5px;}

/* Scaffolding */
.site-wrapper{display:table;width:100%;height:90% !important;min-height:90vh !important;}
.site-wrapper-inner{display:flex;flex-direction:column;justify-content:center;margin-right:auto;margin-left:auto;width:100%;height:90%;}
.panel-authed{padding:0 0 0 0;}

/* Home button */
.btn-home-hello{position:absolute;font-family:'Raleway', sans-serif;font-size:11px;font-weight:400;color:rgba(255,255,255,0.85);top:15px;left:15px;padding:3px 20px;background-color:rgba(255,255,255,0.15);border-radius:6px;-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);}

/* Input */
input, textarea{color:#000;}
input, textarea{color:#000;}

